/* Default styles first then media queries */

@media all and (min-width: 320px) and (max-width: 420px) {

    .logo h2,.left-side-content h2 {
        font-size: 42px !important;
        line-height: 54px !important;
    }

}

@media screen and (max-width: 599px)  {


    .faq-intro {
        display: inherit;
        margin-bottom: 35px;
        text-align: center;
    }

    .s-details-area {
        display: inherit;
    }

    .s-details-info {
        margin-bottom: 25px !important;
        padding: 30px 50px;
        margin: auto;
        
    }

    .appapprenticeship-benifits-left {
        margin-bottom: 25px !important;
    }

    .s-value-border hr {
        margin-top: 60px !important;
    }

    .logo span {
        font-size: 32px;
        line-height: 40px;
    }

    .application-closes { 
        padding: 15px 15px;
    }


    .students-reviews {
        margin: 70px 0px;
    }

    .student-review {
        padding: 30px 50px;
    }

    .footer-section {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .widget-area {
        display: inherit;
        padding: 20px 0px;
        text-align: center;
    }

    .widget-info {
        margin-bottom: 15px;
    }

    .widget-info p {
        margin-top: 0;
    }


}

@media screen and (max-width: 779px)  {
    .left-side-content h4,.left-side-content p,a.cta-btn {
        display: none;
    }
    
 
    .mobile-device h4,.mobile-device p,.mobile-device a.cta-btn {
        display: block !important;
    }

    .graduation-area {
        display: inherit;
    }
 

}

@media screen and (min-width: 780px)  {

    .mobile-device {
        display: none;
    }


    .faq-iteam.acc_content {
        width: 95%;
        margin-right: 5%;
    }




}





@media all and (min-width: 979px) and (max-width: 1240px) {


    /* SV benifits */

    .apprenticeship-benefits {
        margin-top: 30px;
        display: inherit;
        margin-bottom: 30px;
    }

    .appapprenticeship-benifits-left {
        width: 320px;
        margin: auto;
        margin-bottom: 50px;
    }

    .apprenticeship-about {
        padding-right: 0px;
    }

    .s-value-border hr {
        margin-top: 100px;
    }

    .s-details-area {
        justify-content: space-evenly;
    }

}

@media all and (min-width: 320px) and (max-width: 980px) {


    .apply-now {
        display: none;
    }

    .hero-section {
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 0px 30px;
        display: inherit;
    }
    
    .left-side-content {
        width: 100%;
        margin-bottom: 25px;
    }

    /* SV Section */

    .apprenticeship-info {
        display: inherit;
        margin: auto;
        text-align: center;
    }

    .apprenticeship-profile {
        margin: 0;
        background-size: inherit;
        padding: 0;
        background-repeat: no-repeat;
        margin-bottom: 25px;
    }

    .apprenticeship-about {
        padding: 20px;
    }

    /* SV benifits */

    .apprenticeship-benefits {
        margin-top: 30px;
        display: inherit;
        margin-bottom: 30px;
    }

    .appapprenticeship-benifits-left {
        width: 320px;
        margin: auto;
        margin-bottom: 50px;
    }

    .s-value-border hr {
        margin-top: 100px;
    }

}